backend/.dockerignore
backend/.env
backend/.env.example
backend/.editorconfig
backend/.gitignore
backend/.gitattributes
backend/README.md

backend/vendor/
backend/node_modules/

backend/tests/
backend/phpunit.xml

backend/storage/logs/*.log
backend/storage/framework/views/*
backend/storage/framework/sessions/*
backend/storage/framework/cache/*
backend/storage/erd/*.erd.json

gha-creds-*.json
