NGINX_PORT=$NGINX_PORT
NGINX_HOST=$NGINX_HOST

MYSQL_PORT=$MYSQL_PORT
MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=$MYSQL_DATABASE
MYSQL_USER=$MYSQL_USER
MYSQL_PASSWORD=$MYSQL_PASSWORD

IMAGE_TAG=v1.0
