name: REZE ERP CD
on:
    push:
        branches: ["main"]

jobs:
    deploy_on_gce:
        name: Deploy to Google Compute Engine
        runs-on: ubuntu-22.04
        environment: develop
        env:
            GCP_PROJECT_ID: ${{vars.GCP_PROJECT_ID}}
            GCP_VM_NAME: ${{vars.GCP_VM_NAME}}
            GCP_VM_ZONE: ${{vars.GCP_VM_ZONE}}
            GCP_WIP: projects/${{secrets.GCP_PROJECT_NUMBER}}/locations/global/workloadIdentityPools/${{secrets.GCP_POOL_ID}}/providers/${{secrets.GCP_PROVIDER_ID}}
            GCP_SERVICE_ACCOUNT: ${{secrets.GCP_SERVICE_ACCOUNT}}
            GCP_ARTIFACT_REGION: ${{vars.GCP_ARTIFACT_REGION}}
        permissions:
            contents: read
            id-token: write

        steps:
            - uses: actions/checkout@v4

            - name: Authenticate with Google Cloud
              uses: google-github-actions/auth@v3
              with:
                  workload_identity_provider: ${{env.GCP_WIP}}
                  service_account: ${{secrets.GCP_SERVICE_ACCOUNT}}

            - name: Generate .env Files
              env:
                  NGINX_HOST: ${{vars.NGINX_HOST}}
                  NGINX_PORT: ${{vars.NGINX_PORT}}
                  SANCTUM_STATEFUL_DOMAINS: ${{vars.SANCTUM_STATEFUL_DOMAINS}}
                  SESSION_DOMAIN: ${{vars.SESSION_DOMAIN}}
                  MYSQL_PORT: ${{vars.MYSQL_PORT}}
                  MYSQL_DATABASE: ${{secrets.MYSQL_DATABASE}}
                  MYSQL_USER: ${{secrets.MYSQL_USER}}
                  MYSQL_ROOT_PASSWORD: ${{secrets.MYSQL_ROOT_PASSWORD}}
                  MYSQL_PASSWORD: ${{secrets.MYSQL_PASSWORD}}
                  APP_KEY: ${{secrets.APP_KEY}}
                  ADMIN_EMAIL: ${{secrets.ADMIN_EMAIL}}
                  ADMIN_PASSWORD: ${{secrets.ADMIN_PASSWORD}}
              run:
                  | # Replace placeholders with "$VARIABLE" format in .env.example with environment variables and save to .env
                  envsubst < .env.example > .env
                  envsubst < backend/.env.example > backend/.env

            - name: Prepare and Upload Files
              run: |

                  gcloud compute ssh ${{env.GCP_VM_NAME}} \
                  --zone=${{env.GCP_VM_ZONE}} \
                  --command="mkdir -p ~/deploy/backend" \
                  --tunnel-through-iap \
                  --quiet

                  gcloud compute scp .env compose.prod.yml ${{env.GCP_VM_NAME}}:~/deploy \
                  --zone=${{env.GCP_VM_ZONE}} \
                  --tunnel-through-iap \
                  --quiet

                  gcloud compute scp backend/.env ${{env.GCP_VM_NAME}}:~/deploy/backend \
                  --zone=${{env.GCP_VM_ZONE}} \
                  --tunnel-through-iap \
                  --quiet

            - name: Execute Docker Compose on VM
              run: |
                  gcloud compute ssh ${{env.GCP_VM_NAME}} \
                  --zone=${{env.GCP_VM_ZONE}} \
                  --command="
                      set -e

                      sudo gcloud auth configure-docker ${{env.GCP_ARTIFACT_REGION}}-docker.pkg.dev --quiet
                      cd ~/deploy
                      sudo docker compose -f compose.prod.yml pull
                      sudo docker compose -f compose.prod.yml up -d
                      sudo docker image prune -f
                      sudo docker ps
                  " \
                  --tunnel-through-iap \
                  --quiet
