name: REZE ERP CD
on:
    pull_request:
        branches: ['main']

jobs:
    deploy_on_gce:
        name: Deploy to Google Compute Engine
        runs-on: ubuntu-22.04
        environment: develop
        env:
            GCP_VM_NAME: ${{vars.GCP_VM_NAME}}
            GCP_VM_ZONE: ${{vars.GCP_VM_ZONE}}
            GCP_WIP: projects/${{secrets.GCP_PROJECT_NUMBER}}/locations/global/workloadIdentityPools/${{secrets.GCP_POOL_ID}}/providers/${{secrets.GCP_PROVIDER_ID}}
            GCP_SERVICE_ACCOUNT: ${{secrets.GCP_SERVICE_ACCOUNT}}
        permissions:
            contents: read
            id-token: write

        steps:
            - uses: actions/checkout@v4

            - name: Authenticate with Google Cloud
              uses: google-github-actions/auth@v3
              with:
                   workload_identity_provider: ${{env.GCP_WIP}}
                   service_account: ${{secrets.GCP_SERVICE_ACCOUNT}}

            - name: Generate .env Files
              env:
                  NGINX_HOST: ${{vars.NGINX_HOST}}
                  NGINX_PORT: ${{vars.NGINX_PORT}}
                  SANCTUM_STATEFUL_DOMAINS: ${{vars.SANCTUM_STATEFUL_DOMAINS}}
                  SESSION_DOMAIN: ${{vars.SESSION_DOMAIN}}
                  MYSQL_PORT: ${{vars.MYSQL_PORT}}
                  MYSQL_DATABASE: ${{secrets.MYSQL_DATABASE}}
                  MYSQL_USER: ${{secrets.MYSQL_USER}}
                  MYSQL_ROOT_PASSWORD: ${{secrets.MYSQL_ROOT_PASSWORD}}
                  MYSQL_PASSWORD: ${{secrets.MYSQL_PASSWORD}}
                  APP_KEY: ${{secrets.APP_KEY}}
                  ADMIN_EMAIL: ${{secrets.ADMIN_EMAIL}}
                  ADMIN_PASSWORD: ${{secrets.ADMIN_PASSWORD}}
              run: | # Replace placeholders with "$VARIABLE" format in .env.example with environment variables and save to .env
                  envsubst < .env.example > .env
                  envsubst < backend/.env.example > backend/.env

            - name: Generate ssh key
              run: |
                mkdir -p $HOME/.ssh
                ssh-keygen -t rsa -f  $HOME/.ssh/gce_rsa -N "" -C "github-actions"

            - name: add ssh key to Github env
              run: |
                echo "GCP_SSH_PRIVATE_KEY<<EOF" >> $GITHUB_ENV
                cat $HOME/.ssh/gce_rsa >> $GITHUB_ENV
                echo "EOF" >> $GITHUB_ENV

            - name: Add ssh key to OS login
              run: |
                gcloud compute os-login ssh-keys add \
                --key-file=$HOME/.ssh/gce_rsa.pub \
                --project=reze-erp \
                --account=${{ secrets.GCP_SERVICE_ACCOUNT }} \
                --ttl=5m --quiet

            - name: Create Remote Directory on VM
              run: |
                gcloud compute ssh ${{env.GCP_VM_NAME}} --zone=${{env.GCP_VM_ZONE}} --ssh-key-file=$HOME/.ssh/gce_rsa --command="mkdir -p $HOME/deploy/backend" --tunnel-through-iap --quiet

            - name: Secure Copy (SCP) Config Files to VM
              run:
                gcloud compute scp .env compose.prod.yml ${{env.GCP_VM_NAME}}:$HOME/deploy --zone=${{env.GCP_VM_ZONE}} --ssh-key-file=$HOME/.ssh/gce_rsa --tunnel-through-iap --quiet
                gcloud compute scp backend/.env ${{env.GCP_VM_NAME}}:$HOME/deploy/backend --zone=${{env.GCP_VM_ZONE}} --ssh-key-file=$HOME/.ssh/gce_rsa --tunnel-through-iap --quiet

            - name: Execute Docker Compose on VM
              uses: google-github-actions/ssh-compute@v2
              with:
                  instance_name: ${{env.GCP_VM_NAME}}
                  zone: ${{env.GCP_VM_ZONE}}
                  ssh_private_key: ${{env.GCP_SSH_PRIVATE_KEY}}
                  command: |
                    cd $HOME/deploy
                    docker compose pull
                    docker compose -f compose.prod.yml up -d
                    docker image prune -f
