name: Reze ERP CI # Define the name of the workflow

on: # Define the events that trigger the workflow
    pull_request: # Trigger on pull requests to a main branch
        branches: ["main"]

jobs: # Define the test laravel job
    laravel-tests: # Define the laravel-test job id
        name: Laravel Tests # Define the name of the job
        runs-on: ubuntu-22.04 # Define the OS to run the job on

        defaults: # Define default working directory for all step of the job
            run:
                working-directory: backend

        steps:
            - uses: actions/checkout@v4 # Checkout the repository
              with:
                  sparse-checkout: backend

            - uses: shivammathur/setup-php@v2 # Setup PHP environment
              with:
                  php-version: "8.4" # Specify PHP version

            - name: Copy .env # Define step name
              run: php -r "file_exists('.env') || copy('.env.example', '.env');" # Copy .env file if it doesn't exist

            - name: Install Dependencies
              run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist # Install composer dependencies

            - name: Generate app key
              run: php artisan key:generate

            - name: Set Directory Permissions
              run: chmod -R 777 storage bootstrap/cache

            - name: Execute Feature Tests vie Pest
              env:
                  DB_CONNECTION: sqlite
                  DB_DATABASE: ":memory:"
              run: php artisan test --testsuite=Feature

    vuetify-tests:
        name: Vuetify Tests
        runs-on: ubuntu-22.04

        defaults:
            run:
                working-directory: frontend

        steps:
            - uses: actions/checkout@v4
              with:
                  sparse-checkout: frontend

            - uses: actions/setup-node@v4
              with:
                  node-version: "22.x" # Specific node version
                  cache: "npm" # Cache npm dependencies
                  cache-dependency-path: frontend/package-lock.json # Supervision file to check and update cached

            - name: Install npm dependencies
              run: npm ci

            - name: Execute Unit tests via Vitest
              run: npm run test:unit

    docker-build-push:
        name: Docker Build & Push
        runs-on: ubuntu-22.04
        environment: develop

        permissions: # Define permissions for the job
            contents: read # Allows the action to check out the repository's code
            id-token: write # Allows GitHub to request an OIDC token to authenticate with Google Cloud

        steps:
            - uses: actions/checkout@v4

            - id: auth # unique identifier for the step
              name: Authenticate to Google Cloud
              uses: google-github-actions/auth@v3 # Authenticate to Google Cloud using Workload Identity Federation
              with:
                  # The full identifier of the Workload Identity Provider
                  workload_identity_provider: "projects/${{secrets.GCP_PROJECT_NUMBER}}/locations/global/workloadIdentityPools/${{secrets.GCP_POOL_ID}}/providers/${{secrets.GCP_PROVIDER_ID}}"
                  # The email of the Service Account that GitHub Actions will impersonate
                  service_account: github-actions@reze-erp.iam.gserviceaccount.com # The Service Account email that GitHub Actions will impersonate.
                  token_format: access_token # token format for usibf OAuth2

            - name: Login to Google Artifact Registry
              uses: docker/login-action@v3 # Login to Docker registry
              with:
                  registry: 'us-west1-docker.pkg.dev' # Use the regional endpoint for Artifact Registry
                  username: oauth2accesstoken # Authentication for Google Cloud using OAuth2 access token
                  password: ${{steps.auth.outputs.access_token}}

            - name: Docker prepare .env file
              env:
                  NGINX_HOST: ${{vars.NGINX_HOST}}
                  NGINX_PORT: ${{vars.NGINX_PORT}}
                  SANCTUM_STATEFUL_DOMAINS: ${{vars.SANCTUM_STATEFUL_DOMAINS}}
                  SESSION_DOMAIN: ${{vars.SESSION_DOMAIN}}
                  MYSQL_PORT: ${{vars.MYSQL_PORT}}
                  MYSQL_DATABASE: ${{secrets.MYSQL_DATABASE}}
                  MYSQL_USER: ${{secrets.MYSQL_USER}}
                  MYSQL_ROOT_PASSWORD: ${{secrets.MYSQL_ROOT_PASSWORD}}
                  MYSQL_PASSWORD: ${{secrets.MYSQL_PASSWORD}}
                  APP_KEY: ${{secrets.APP_KEY}}
                  ADMIN_EMAIL: ${{secrets.ADMIN_EMAIL}}
                  ADMIN_PASSWORD: ${{secrets.ADMIN_PASSWORD}}
              run: | # Replace placeholders with "$VARIABLE" format in .env.example with environment variables and save to .env
                  envsubst < .env.example > .env
                  envsubst < backend/.env.example > backend/.env

            - name: Docker set up  Buildx
              uses: docker/setup-buildx-action@v3 # Create and boot a builder instance to support multi-platform builds and advanced caching

            - name: Docker validation configuration
              uses: docker/bake-action@v6
              with:
                  call: check # Dry-run to validate syntax and configuration without performing the actual build

            - name: Docker Build and push
              uses: docker/bake-action@v6
              with:
                  push: true # Push the images to the registry after a successful build

                  # Leverage GitHub Actions cache backend for optimized build performance
                  # mode=max: Caches all layers, including intermediate ones (Best for speed, more storage)
                  # mode=min: Caches only the resulting layers of the exported image (Default)
                  set: |
                    *.cache-from=type=gha
                    *.cache-to=type=gha,mode=max

